<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="shortcut icon" href="../public/favicon/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="../../public/styles/Profilepage.css">
    <link rel="stylesheet" href="../../public/styles/index.css">
    <link rel="stylesheet" href="../../public/styles/style3.css">
    <link rel="stylesheet" href="../../public/styles/responsive.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"
        data-auto-replace-svg="nest"></script>
</head>

<body>
    <!-- header -->
    <div class="Mainheader" id="navbar">
        <h2>STEALTH</h2>
        <div class="searchBar">
            <button class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
            <input type="text" class="search-box" placeholder="search" />
        </div>
    </div>


    <div class="profile-mainsection">

        <button class="more-options" id="show-btn" onclick="showmore()">View Profile</button>
        <button class="more-options" id="close-btn" onclick="collapse()">Hide</button>

        <div class="profile-section" id="misc-section">
            <div class="profile-image">
                <img src="../../public/images/dummy.jpg" alt="">
            </div>
            <div class="profile-content">
                <h2 class="profile-name">Profile Name</h2>
                <div class="handle-endoresements">
                    <h2 class="general-info"><i class="fa-solid fa-thumbs-up"></i> 10000</h2>
                    <h2 class="general-info"><i class="fa-solid fa-award"></i> 10000</h2>
                </div>
                <h3 class="bio-text">This is the sample bio</h3>
                <form action="">
                    <button>Edit Profile</button>
                </form>
            </div>
            <p style="color:white;" class="copyright-text">Copyright 2023, STEALTH</p>
        </div>

        <div class="content" id="profile-content">
            <!-- <% posts.forEach((post)=> { %> -->
            <div class="caption" id="post-box">
                <div class="topLine">
                    <img src="../../public/images/dummy.jpg" alt="postimage" class="avatar" />

                    <div class="details">
                        <h4>
                            this is my caption
                        </h4>
                    </div>

                    <form action="" class="delete-btn-form">
                        <button type="button" onclick="confdel()"><i class="fa-regular fa-trash-can"></i></button>
                    </form>

                </div>
                <!-- <img src="../<%=post.ImageUrl%>" alt="postimage" class="postimage" /> -->
                <img src="../../public/images/day.jpg" alt="postimage" class="postimage" />

                <div class="action-btn">
                    <button class="react-btn-like" onclick="handleAction('<%= post._id %>', 'like')"><i
                            class="fa-solid fa-thumbs-up"></i></button>
                    <p id="likesCount_<%= post._id %>">
                        <!-- <%= post.Likes %> -->
                        100
                    </p>

                    <button class="react-btn-dislike" onclick="handleAction('<%= post._id %>', 'dislike')"><i
                            class="fa-solid fa-thumbs-down"></i></button>
                    <p id="dislikesCount_<%= post._id %>">
                        <!-- <%= post.Dislikes %> -->
                        20
                    </p>

                    <button class="react-btn-award" onclick="handleAction('<%= post._id %>', 'award')"><i
                            class="fa-solid fa-award"></i></button>
                    <p id="awardsCount_<%= post._id %>">
                        <!-- <%= post.Awards %> -->
                        30
                    </p>
                </div>
            </div>
            <!-- <% }) %> -->
        </div>

    </div>
</body>
<script>
    function confdel() {
        document.getElementById("conf-button").style.display = "block";
    }

    const showmore = () => {
        document.getElementById("misc-section").style.display = "block";
        document.getElementById("close-btn").style.display = "block";
        document.getElementById("show-btn").style.display = "none";
    }
    const collapse = () => {
        document.getElementById("misc-section").style.display = "none";
        document.getElementById("close-btn").style.display = "none";
        document.getElementById("show-btn").style.display = "block";
    }

</script>

</html>