<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STEALTH</title>
    <link rel="shortcut icon" href="../favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/responsive.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"
        data-auto-replace-svg="nest"></script>
</head>

<body>
    <div class="main">
        <p>STEALTH</p>
        <h1>As the name suggests...</h1>
        <div class="redirect-btns">
            <form action="/login" method="get">
                <button type="submit">Login</button>
            </form>
            <form action="/register" method="get">
                <button type="submit">SignUp</button>
            </form>
            <a href="https://github.com/Soumyadeep-Sinha/STEALTH" target="_blank"><button><i class="fa-brands fa-github"></i> Github</button></a>
        </div>
        <footer>
            <h4>Copyright ©️, 2023, STEALTH, Soumyadeep Sinha</h4>
        </footer>
    </div>


</body>

</html>